.header {
  padding: 2.5rem 2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}
