.footer {
  padding: 2.5rem 2rem;
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.list-item {
  margin: 0 1.5rem;
}

.list-link {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.footer-text {
  text-align: right;
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: #777;
  font-weight: 200;
  margin-right: 1.5rem;
}
