.footer {
  padding: 2rem 0;
  margin-top: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}
.list-item {
  margin: 0.5rem;
}

.list-link {
  color: #ccc;
  text-decoration: none;
}
.list-link:hover {
  color: #eee;
}

.footer-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #999;
}
