@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(253, 198, 194);
  background: linear-gradient(
    90deg,
    rgba(253, 198, 194, 1) 50%,
    rgba(194, 229, 223, 1) 50%
  );
}
